<div id="carousel-example-generic" class="carousel slide" data-ride="carousel">


  <!-- Wrapper for slides -->
  <div class="carousel-inner" role="listbox">
    <div class="item active">
      <center>
        <img src="/images/tv.png" alt="tv"> <img src="/images/couch.png" alt="couch"> <img src="/images/shelf.png" alt="shelf">
      </center>
      <div class="carousel-caption">
        <h2>Living Room</h2>
      </div>
    </div>
    <div class="item">
      <center>
        <img src="/images/couch.png" alt="couch">
      </center>
      <div class="carousel-caption">
        <h2>Couch</h2>
      </div>
    </div>
    <div class="item">
      <center>
      <img src="/images/tv.png" alt="...">
    </center>
      <div class="carousel-caption">
        <h2>TV</h2>
      </div>
    </div>
  </div>



<h1>All Rooms</h1>

<h2>
<% @rooms.each do |room| %>
<%= room.name %><br>
<% end %>
</h2>
